@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Almendra";
    src: url("fonts/Almendra/Almendra-Regular.ttf");
}

@font-face {
    font-family: "ABC_Maxi";
    src: url("fonts/ABC_Maxi/ABC_Maxi_Plus_Variable/ABCMaxiPlusVariable-Trial.ttf");
}

:root {
    --mainFont: "Monserrat", sans-serif;
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
    --accent-color: rgb(236, 32, 32);
    --decorativeFont: "ABC_Maxi";
    --decorativeFont2: "Almendra";

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--mainFont);
    background-color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SCREENS */

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 46px;
}

#quiz-screen,
#start-screen,
#result-screen {
    background-color: var(--secondary-color);
    border-radius: 16px;
    padding: 16px;
    width: 1000px;
    height: 520px;
}

#quiz-screen {
    align-items: flex-start;
}

.hidden {
    display: none;
}

/* 1 START-SCREEN */

/* TEXT */

h1 {
    font-size: 86px;
    font-family: var(--decorativeFont);
}

h2 {
    font-size: 48px;
    font-family: var(--decorativeFont2);
    margin-bottom: 8px;
}

.wilkommen {
    font-size: 22px;
    letter-spacing: 1.6px;
    width: 500px;
    text-align: center;


}

.willkommenText {
    font-size: 22px;
    letter-spacing: 1.6px;
    width: 500px;
    text-align: center;
}

/* BUTTON */

#startQuiz {
    letter-spacing: 2px;
    font-size: 17px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: rgb(4, 4, 4);
    color: var(--secondary-color)
}

#startQuiz:hover {
    background-color: var(--accent-color);
}


/* 2 QUIZ-SCREEN */

.question,
h2,
.answer {
    margin-left: 20px;
    margin-bottom: 10px;
}

/* TIMER */

#countdown {
    font-family: var(--decorativeFont2);
    position: absolute;
    right: 310px;
    top: 180px;
    font-size: 48px;
}

/* QUESTIONS */

.question {
    font-size: 24px;
}

/* ANSWERS */

.answer {
    font-size: 22px;
}

/* CHECKBOXES */

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    margin-top: 22px;
    margin-right: 8px;
    border: 2px solid var(--primary-color);
    border-radius: 2px;
    background-color: var(--secondary-color);
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 4px;
    height: 9px;
    border: solid var(--secondary-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

input[type="checkbox"]:checked {
    background-color: var(--primary-color);
}

/* SUBMIT BUTTON */

#submitButton {
    letter-spacing: 1.6px;
    font-size: 18px;
    background-color: var(--primary-color);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    width: fit-content;
    color: white;
    margin-top: 24px;
    margin-left: 20px;
}

#submitButton:hover {
    background-color: var(--accent-color);
}


/* 3 RESULT-SCREEN */

/* TEXT */
#resultText {
    font-size: 36px;
    white-space: pre-line;
    text-align: center;
    font-family: var(--decorativeFont2);
}

/* BUTTON "TO START" */

#toStart {
    font-size: 19px;
    background-color: var(--primary-color);
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    width: fit-content;
    letter-spacing: 1.6px;
    color: var(--secondary-color);
}

#toStart:hover {
    background-color: var(--accent-color);
}


/* RESPONSIVE DESIGN */


@media (max-width: 992px) {

    #quiz-screen,
    #start-screen,
    #result-screen {
        width: 800px;
        height: 420px;
    }

    #submitButton {
        margin-top: 38px;
    }

    .resultText {
        font-size: 24px;
    }

    #toStart {
        font-size: 19px;
        padding: 8px 12px;
    }
}

@media (max-width: 768px) {

    #start-screen,
    #result-screen {
        width: 500px;
        height: 350px;
    }

    #quiz-screen {
        width: 500px;
        height: 400px;
    }

    h1 {
        font-size: 64px;
    }

    #submitButton {
        font-size: 18px;
        padding: 8px 16px;

    }
}


@media (max-width: 576px) {

    #start-screen,
    #result-screen {
        width: 450px;
        height: 350px;
    }

    #quiz-screen {
        width: 450px;
        height: 400px;
    }

    h2 {
        font-size: 38px;
    }

    .question {
        font-size: 22px;
    }

    .answer {
        font-size: 20px;
    }

    #submitButton {
        margin-top: 36px;
    }

    #resultText {
        font-size: 28px;
    }

}

@media (max-width: 480px) {

    #quiz-screen,
    #start-screen,
    #result-screen {
        width: 370px;
    }

    #start-screen,
    #result-screen {
        height: 350px;
    }

    h1 {
        font-size: 48px;
    }

    .willkommenText {
        width: 350px;
    }

    #quiz-screen {
        height: 400px;
    }

    h2 {
        font-size: 44px;
    }

    #resultText {
        font-size: 32px;
    }

    #submitButton {
        margin-top: 28px;
    }
}